[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  # Tell Netlify that these variables are intentional and safe to be in the build output
  SECRETS_SCAN_ENABLED = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
